/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {margin-bottom: 1000px;}
.header {
    background-color: #394359;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}
.navigation a {
    margin-right: 10px;
}
.divider {
    width: 50%;
    margin: 0 auto;
    border: 3px solid gray;
    color: #808080;
    margin-top: 10px;
    margin-bottom: 5px;
}
.about .about__title {
    color: #996633;
    text-align: center;
}
.about .about__description {
    width: 50%;
    margin-left: auto;
    text-align: right;
}
.special .special__title {
    color: #996633;
    text-align: center;
}
.first-list__title {
    font-weight: bold;
}
.first-list ul {
    margin-left: 30px;
    color: blue;
    list-style-type: circle;
}
.first-list__image img {
    width: 150px;
    height: 150px;
}
.second-list__title {
    font-weight: bold;
}
.second-list ol {
    margin-left: 30px;
    list-style-type: upper-roman;
}
.second-list__image img {
    width: 300px;
    height: 300px;
}
.menu .menu__title {
    text-align: center;
    color: #996633;
}
.menu .menu__table {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}
.menu__table th, .menu__table td {
    padding: 15px;
    border: 1px solid black;
}
.menu__table .traditional {
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url('./Image_buoi4/chilling-cafe-12.jpg');
}
.menu__table .espresso {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-image: url('./Image_buoi4/chilling-cafe-13.jpg');
}
.footer .footer__title{
    text-align: center;
    color: #996633;
}
.footer .footer__contact-info {
    text-align: center;
}
